.challengeBoxContainer{
    height: 95%;
    margin-top: 10%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px #007bff;
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challengeNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--title);
}

.challengeNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
    color: var(--title);
}


.challengeNotActive p img{
    margin-bottom: 1rem;
}

.challengeActive{
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header{
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--title);
}

.challengeActive main{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color:aliceblue ;
    
    margin: 1.5rem p.1rem;

}

.challengeActive main p{
    line-height: 1.5;
    color: var(--title);
}

.challengeActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.challengeActive footer button{
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;

    border: 0;
    border-radius: 5px;
    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton{
    background:transparent;
    border: solid 2px var(--red);
    color: var(--red);
}
.challengeActive footer button.challengeFailedButton:hover{
    background: var(--red);
    color: var(--title);
}

.challengeActive footer button.challengeSucceededButton{
    background: transparent;
    border: solid 2px #007bff;
    color: var(--blue-dark);
}

.challengeActive footer button.challengeSucceededButton:hover{
    background: var(--green);
    color: var(--title);
}